


<div class="row well hotels">
  {{#link-to 'foodz' hotel.id}}
<h3>NAME:{{hotel.name}}</h3>

<img src={{hotel.image}} class="img-responsive hvr-grow-shadow"/>
{{/link-to}}
{{update-hotel hotel=hotel update="update"}}
<button {{action 'deleteHotel' hotel}} class="btn btn-danger btn-responsive">DELETE HOTEL</button></div>
