img {
  width: 300px;
  height: 300px;
}

.hotels {
  margin-left: 250px;
  margin-right: 250px;
}

body {
  font-family: 'Inconsolata', monospace;
}

.name {
  font-size: 40px;
  font-family: 'Fresca', sans-serif;
}

.map-display {
  height: 600px;
  width: 600px;
}

.footerimage {
  width: 90px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.footer{
  background-image: url("http://timmatic.com/i/2016/11/website-background-images-tile-wallpaper-full-hd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
  background-image: url("https://images.pexels.com/photos/480711/pexels-photo-480711.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Abril Fatface', cursive;
}
