img{
  width: 300px;
  height: 300px;
}
.hotels{
  margin-left: 250px;
  margin-right: 250px;
}
body{
  font-family: 'Inconsolata', monospace;
}
.name{
  font-size: 40px;
  font-family: 'Fresca', sans-serif;
}
.map-display {
    height: 600px;
    width: 600px;
  }
