<div class= "container">
  {{!header that does not change}}
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">food-palace</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}home{{/link-to}}</li>
      <li>{{#link-to 'contact'}}contact us{{/link-to}}</li>

    </ul>
  </div>
</nav>
    {{outlet}}
  <hr>
  <footer>
    {{!footer that does not change}}
  <div class="row footer well">
    <h4 class="text-center">GET ALL THE REVIEWS IN ONE PLACE</h4>
    <div class="col-md-4 well">
      <img  src="https://image.flaticon.com/icons/svg/174/174848.svg" class="img-responsive footerimage"/>
    </div>
    <div class="col-md-4 well">
      <img src="https://image.flaticon.com/icons/svg/174/174855.svg" class="img-responsive footerimage"/>
    </div>
    <div class="col-md-4 well">
      <img src="https://image.flaticon.com/icons/svg/145/145812.svg" class="img-responsive footerimage"/>
    </div>

  </div>
  </footer>
</div>
