<div class="container">
  <div class="row wells">
<h1>food-palace</h1>
</div>


{{#each model.hotels as |hotel|}}
{{hotel-popularity hotel}}{{hotel-tile hotel=hotel deleteHotel="deleteHotel" update="update"}}
{{/each}}

{{new-hotel addNewRestaurant="addNewRestaurant"}}
<hr>



{{#link-to 'index'}}home{{/link-to}}
{{#link-to 'contact'}}contact us{{/link-to}}

</div>
